@import "tailwindcss";

@theme {
    --color-brand-accent: #3b5998;
    --color-brand-accent2: #8b9dc3;
    --color-brand-accent3: #dfe3ee;
    --color-brand-offwhite: #f7f7f7;
}

html, body {
    height: 100%;
}

@media (max-width: 768px) {
    .grid-container {
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 16px;
    }
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.grid-item {
    flex: 1 1 calc(33.333% - 11px);
    background-color: whitesmoke;
    padding: 20px;
}

.SubmitCard {
    width: 100%;
    min-height: 150px;
    font-size: 1.25rem;
}

.FeedCard {
    width: 100%;
    min-height: 200px;
    font-size: 1.25rem;
}

.ChatList {
    height: 40vh;
    width: 20vw;
    font-size: 2vh;
}

.navbar {
    height: 5vh;
    width: fit-content;
    justify-content: center;
}